# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/node_modules
client/client_react/node_modules
client/client_angular/node_modules



# nodemon.js in server
server/nodemon.json
node_modules
server/dist

client/front/.eslintcache
server/dist/js/controllers/pets/index.js
server/dist/js/models/adoptionRequest.js
server/dist/js/controllers/adoptionRequests/index.js
server/dist/js/controllers/pets/index.js
server/dist/js/routes/pet.js
server/dist/js/routes/adoptionRequest.js
client/front/.eslintcache

client/front/.eslintcache
client/front/.eslintcache
