<div *ngIf="adoptionRequest">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form
          enctype="multipart/form-data"
          class="form-horizontal"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="
            f.form.valid &&
              this.adoptionRequest.pet.isAdopted === false &&
              onSubmit()
          "
          #f="ngForm"
          novalidate
        >
          <div class="card-header">
            <strong>Adoption Request Details</strong>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Adoption request id</label>
              <label class="col-md-6 col-form-label">{{
                adoptionRequest._id
              }}</label>
            </div>
            <div class="form-group row">
              <label
                for="fullName"
                class="col-md-3 col-form-label"
                for="text-input"
                >Full name</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="fullName"
                  [(ngModel)]="form.fullName"
                  required
                  minlength="5"
                  maxlength="30"
                  #fullName="ngModel"
                />
              </div>
              <div class="alert-danger" *ngIf="fullName.errors && f.submitted">
                <div *ngIf="fullName.errors.required">
                  Full name is required
                </div>
                <div *ngIf="fullName.errors.minlength">
                  Full name must be at least 5 characters
                </div>
                <div *ngIf="fullName.errors.maxlength">
                  Full name must be at most 30 characters
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="email"
                class="col-md-3 col-form-label"
                for="text-input"
                >Email</label
              >
              <div class="col-md-9">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="form.email"
                  required
                  #email="ngModel"
                />
              </div>
              <div class="alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="phoneNumber"
                class="col-md-3 col-form-label"
                for="text-input"
                >Phone number</label
              >
              <div class="col-md-9">
                <input
                  type="tel"
                  class="form-control"
                  name="phoneNumber"
                  [(ngModel)]="form.phoneNumber"
                  required
                  minlength="7"
                  maxlength="20"
                  #phoneNumber="ngModel"
                />
              </div>
              <div
                class="alert-danger"
                *ngIf="phoneNumber.errors && f.submitted"
              >
                <div *ngIf="phoneNumber.errors.required">
                  Full name is required
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="address"
                class="col-md-3 col-form-label"
                for="text-input"
                >Address</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="address"
                  [(ngModel)]="form.address"
                  required
                  minlength="7"
                  #address="ngModel"
                />
              </div>
              <div class="alert-danger" *ngIf="address.errors && f.submitted">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="message"
                >Message</label
              >
              <div class="col-md-9">
                <textarea
                  [(ngModel)]="form.message"
                  id="textarea-input"
                  name="textarea-input"
                  rows="9"
                  class="form-control"
                  placeholder="Content.."
                  #message="ngModel"
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input"
                >Adoption request date</label
              >
              <div class="col-md-9">
                <input
                  class="form-control"
                  id="date-input"
                  type="date"
                  name="date-input"
                  value="{{ Date }}"
                  ([ngModel])="(form.adoptionDate)"
                />
              </div>
            </div>
            <!-- <div class="alert alert-warning" *ngIf="f.submitted && f.errors">
              Update pet failed!<br />{{ errorMessage }}
            </div> -->
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-success">
              <i class="fa fa-dot-circle-o"></i> Update and save
            </button>
          </div>
        </form>
      </div>
      <!--/.col-->
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><strong>Pet Details</strong></div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Adopted</label>
            <label class="col-md-9 col-form-label">{{
              this.adoptionRequest.pet.isAdopted
                ? "Adopted!"
                : "Waiting for adoption"
            }}</label>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Pet id</label>
            <label class="col-md-9 col-form-label">{{
              this.adoptionRequest.pet._id
            }}</label>
          </div>
          <div class="form-group row">
            <label for="gender" class="col-md-3 col-form-label" for="text-input"
              >Pet gender</label
            >
            <div class="col-md-9">
              <p>{{ this.adoptionRequest.pet.gender }}</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="breed" class="col-md-3 col-form-label" for="text-input"
              >Pet breed</label
            >
            <div class="col-md-9">
              <p>
                {{ this.adoptionRequest.pet.breed }}
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="animalType"
              class="col-md-3 col-form-label"
              for="text-input"
              >Animal type</label
            >
            <div class="col-md-9">
              <p>{{ this.adoptionRequest.pet.animalType }}</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="age" class="col-md-3 col-form-label" for="text-input"
              >Age</label
            >
            <div class="col-md-9">
              <p>{{ this.adoptionRequest.pet.age }}</p>
            </div>
          </div>

          <div>
            <img
              [src]="this.adoptionRequest.pet.primaryPicture"
              style="width: 250px; height: 250px"
            />
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
