


<div class="logout" >
  <button class="btn btn-primary btn-block" (click)="logout()">Logout</button>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{ pets.length }}</div>
          <div>Number of Pets</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{ adoptionRequests.length }}</div>
          <div>Number of Adoption requests</div>
        </div>
        <div class="chart-wrapper mt-3" style="height: 70px">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChart3Labels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{ adoptionInfos.length }}</div>
          <div>Number of Adoptions</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
          <canvas
            baseChart
            class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
