.allPetsGrid{
    margin-top: 10%;
}

.formOptions{
    margin-bottom: 10px;
}

.main-container{
    margin-bottom: 2%;
}

/* .petgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
  } */

  
  