<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form
        enctype="multipart/form-data"
        class="form-horizontal"
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="card-header"><strong>Create new pet</strong></div>
        <div class="card-body">
          <div class="form-group row">
            <label for="name" class="col-md-1 col-form-label" for="text-input"
              >Pet name</label
            >
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="form.name"
                required
                minlength="2"
                maxlength="20"
                #name="ngModel"
              />
            </div>
            <div class="alert-danger" *ngIf="name.errors && f.submitted">
              <div *ngIf="name.errors.required">Pet name is required</div>
              <div *ngIf="name.errors.minlength">
                Pet name must be at least 2 characters
              </div>
              <div *ngIf="name.errors.maxlength">
                Pet name must be at most 20 characters
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="gender" class="col-md-1 col-form-label" for="text-input"
              >Pet gender</label
            >
            <div class="col-md-6">
              <select
                name="gender"
                class="form-control"
                (change)="changeAnimalGender($event)"
              >
                <option disabled>Choose Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
         
          </div>
          <div class="form-group row">
            <label for="breed" class="col-md-1 col-form-label" for="text-input"
              >Pet breed</label
            >
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="breed"
                [(ngModel)]="form.breed"
                required
                minlength="2"
                maxlength="20"
                #breed="ngModel"
              />
            </div>
            <div class="alert-danger" *ngIf="breed.errors && f.submitted">
              <div *ngIf="breed.errors.required">Pet breed is required</div>
              <div *ngIf="breed.errors.minlength">
                Pet breed must be at least 2 characters
              </div>
              <div *ngIf="breed.errors.maxlength">
                Pet breed must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="animalType"
              class="col-md-1 col-form-label"
              for="text-input"
              >Animal type</label
            >
            <div class="col-md-6">
              <select
                name="animalType"
                class="form-control"
                (change)="changeAnimalType($event)"
              >
                <option disabled>Choose Animal Type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="age" class="col-md-1 col-form-label" for="text-input"
              >Age</label
            >
            <div class="col-md-1">
              <input
                type="number"
                class="form-control"
                name="age"
                [(ngModel)]="form.age"
                required
                max="20"
                min="0"
                #age="ngModel"
              />
            </div>
            <div class="alert-danger" *ngIf="age.errors && f.submitted">
              <div *ngIf="age.errors.required">Age is required</div>
              <div *ngIf="age.errors.min">Age must be at least 0 years</div>
              <div *ngIf="age.errors.max">Age must be at most 20 years</div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="primaryPicture"
              class="col-md-1 col-form-label"
              for="text-input"
              >Primary Picture</label
            >
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                name="primaryPicture"
                placeholder="Enter pet image url"
                [(ngModel)]="form.primaryPicture"
                required
                #primaryPicture="ngModel"
              />
            </div>
            <div
              class="alert-danger"
              *ngIf="primaryPicture.errors && f.submitted"
            >
              <div *ngIf="primaryPicture.errors.required">
                Pet image is required
              </div>
            </div>
          </div>
          <div
            class="alert alert-warning"
            *ngIf="f.submitted && petCreationFailed"
          >
            Update pet failed!<br />{{ errorMessage }}
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success">
            <i class="fa fa-dot-circle-o"></i> Submit
          </button>
        </div>
      </form>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
