<div *ngIf="pet">
  <h2>{{ pet.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ pet._id }}</div>
  <div>
    <label for="pet-name">Pet name: </label>
    <input id="pet-name" [(ngModel)]="pet.name" placeholder="Pet name" />
  </div>
  <button (click)="save()">save</button>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Basic Form</strong> Elements</div>
      <div class="card-body">
        <form
          action=""
          method="post"
          enctype="multipart/form-data"
          class="form-horizontal"
        >
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Static</label>
            <div class="col-md-9">
              <p class="form-control-static">Username</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"
              >Text Input</label
            >
            <div class="col-md-9">
              <input
                type="text"
                id="text-input"
                name="text-input"
                class="form-control"
                placeholder="Text"
              />
              <span class="help-block">This is a help text</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input"
              >Email Input</label
            >
            <div class="col-md-9">
              <input
                type="email"
                id="email-input"
                name="email-input"
                class="form-control"
                placeholder="Enter Email"
                autocomplete="email"
              />
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password-input"
              >Password</label
            >
            <div class="col-md-9">
              <input
                type="password"
                id="password-input"
                name="password-input"
                class="form-control"
                placeholder="Password"
                autocomplete="current-password"
              />
              <span class="help-block">Please enter a complex password</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input"
              >Date Input</label
            >
            <div class="col-md-9">
              <input
                class="form-control"
                id="date-input"
                type="date"
                name="date-input"
                placeholder="date"
              />
              <span class="help-block">Please enter a valid date</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disabled-input"
              >Disabled Input</label
            >
            <div class="col-md-9">
              <input
                type="text"
                id="disabled-input"
                name="disabled-input"
                class="form-control"
                placeholder="Disabled"
                disabled
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input"
              >Textarea</label
            >
            <div class="col-md-9">
              <textarea
                id="textarea-input"
                name="textarea-input"
                rows="9"
                class="form-control"
                placeholder="Content.."
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Select</label>
            <div class="col-md-9">
              <select id="select1" name="select1" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select2"
              >Select Large</label
            >
            <div class="col-md-9">
              <select
                id="select2"
                name="select2"
                class="form-control form-control-lg"
              >
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Select Small</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
              >
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disabledSelect"
              >Disabled Select</label
            >
            <div class="col-md-9">
              <select id="disabledSelect" class="form-control" disabled>
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="multiple-select"
              >Multiple select</label
            >
            <div class="col-md-9">
              <select
                id="multiple-select"
                name="multiple-select"
                class="form-control"
                size="5"
                multiple
              >
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
                <option value="4">Option #4</option>
                <option value="5">Option #5</option>
                <option value="6">Option #6</option>
                <option value="7">Option #7</option>
                <option value="8">Option #8</option>
                <option value="9">Option #9</option>
                <option value="10">Option #10</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Radios</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radios"
                  id="radio1"
                  value="option1"
                  checked
                />
                <label class="form-check-label" for="radio1"> Option 1 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radios"
                  id="radio2"
                  value="option2"
                />
                <label class="form-check-label" for="radio2"> Option 2 </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="radios"
                  id="radio3"
                  value="option3"
                />
                <label class="form-check-label" for="radio3"> Option 3 </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="inline-radios"
              >Inline Radios</label
            >
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inline-radios"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1">One</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inline-radios"
                  id="inlineRadio2"
                  value="option2"
                />
                <label class="form-check-label" for="inlineRadio2">Two</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inline-radios"
                  id="inlineRadio3"
                  value="option3"
                />
                <label class="form-check-label" for="inlineRadio3">Three</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Checkboxes</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="option1"
                  id="checkbox1"
                />
                <label class="form-check-label" for="checkbox1">
                  Option 1
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="option1"
                  id="checkbox2"
                />
                <label class="form-check-label" for="checkbox2">
                  Option 2
                </label>
              </div>
              <div class="form-check checkbox">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="option1"
                  id="checkbox3"
                />
                <label class="form-check-label" for="checkbox3">
                  Option 3
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Inline Checkboxes</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inline-checkbox1"
                  value="option1"
                />
                <label class="form-check-label" for="inline-checkbox1"
                  >One</label
                >
              </div>
              <div class="form-check form-check-inline mr-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inline-checkbox2"
                  value="option2"
                />
                <label class="form-check-label" for="inline-checkbox2"
                  >Two</label
                >
              </div>
              <div class="form-check form-check-inline mr-1">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inline-checkbox3"
                  value="option3"
                />
                <label class="form-check-label" for="inline-checkbox3"
                  >Three</label
                >
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input"
              >File input</label
            >
            <div class="col-md-9">
              <input type="file" id="file-input" name="file-input" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-multiple-input"
              >Multiple File input</label
            >
            <div class="col-md-9">
              <input
                type="file"
                id="file-multiple-input"
                name="file-multiple-input"
                multiple
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>Inline</strong> Form</div>
      <div class="card-body">
        <form action="" method="post" class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="if-email">Email</label>
            <input
              type="email"
              id="if-email"
              name="if-email"
              class="form-control"
              placeholder="Enter Email.."
              autocomplete="email"
            />
          </div>
          <div class="form-group">
            <label class="sr-only" for="if-password">Password</label>
            <input
              type="password"
              id="if-password"
              name="if-password"
              class="form-control"
              placeholder="Enter Password.."
              autocomplete="current-password"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Horizontal</strong> Form</div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">Email</label>
            <div class="col-md-9">
              <input
                type="email"
                id="hf-email"
                name="hf-email"
                class="form-control"
                placeholder="Enter Email.."
                autocomplete="email"
              />
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-password"
              >Password</label
            >
            <div class="col-md-9">
              <input
                type="password"
                id="hf-password"
                name="hf-password"
                class="form-control"
                placeholder="Enter Password.."
                autocomplete="current-password"
              />
              <span class="help-block">Please enter your password</span>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>Normal</strong> Form</div>
      <div class="card-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="nf-email">Email</label>
            <input
              type="email"
              id="nf-email"
              name="nf-email"
              class="form-control"
              placeholder="Enter Email.."
              autocomplete="email"
            />
            <span class="help-block">Please enter your email</span>
          </div>
          <div class="form-group">
            <label for="nf-password">Password</label>
            <input
              type="password"
              id="nf-password"
              name="nf-password"
              class="form-control"
              placeholder="Enter Password.."
              autocomplete="current-password"
            />
            <span class="help-block">Please enter your password</span>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Input
        <strong>Grid</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder=".col-sm-3" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder=".col-sm-4" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder=".col-sm-5" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder=".col-sm-6" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder=".col-sm-7" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder=".col-sm-8" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder=".col-sm-9" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder=".col-sm-10"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-11">
              <input
                type="text"
                class="form-control"
                placeholder=".col-sm-11"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=".col-sm-12"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-user"></i> Login
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Input
        <strong>Sizes</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-small"
              >Small Input</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                id="input-small"
                name="input-small"
                class="form-control form-control-sm"
                placeholder=".form-control-sm"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal"
              >Normal Input</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                id="input-normal"
                name="input-normal"
                class="form-control"
                placeholder="Normal"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-large"
              >Large Input</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                id="input-large"
                name="input-large"
                class="form-control form-control-lg"
                placeholder=".form-control-lg"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
