<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <input
              type="text"
              class="form-control"
              placeholder="Search adoptions by pet name/ adopter name/ pet id/ adopter id"
              [(ngModel)]="searchInput"
              (input)="searchTitle()"
            />
          </div>
        </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"><i class="fa fa-list"></i>Adoptions list</div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>petId</th>
                <th>Pet name</th>
                <th>Pet age</th>
                <th>adoptionRequestId</th>
                <th>Adopter name</th>
                <th>adoptionDate</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let adoptionInfo of adoptionsInfo">
                <td>{{ adoptionInfo.pet._id }}</td>
                <td>{{ adoptionInfo.pet.name }}</td>
                <td>{{ adoptionInfo.pet.age }}</td>
                <td>{{ adoptionInfo.adoptionRequest._id }}</td>
                <!-- todo: convert date from iso to normal time -->
                <td>{{ adoptionInfo.adoptionRequest.fullName }}</td>
                <td>{{ adoptionInfo.adoptionDate }}</td>
                <td>
                  <a
                    type="button"
                    class="btn btn-sm btn-pill btn-block btn-warning"
                    routerLink="{{ adoptionInfo._id }}"
                  >
                    Edit
                  </a>
                  <button
                    (click)="delete(adoptionInfo)"
                    type="button"
                    class="btn btn-sm btn-pill btn-block btn-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
