#divFooter{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#footerLinks li {
    display: inline;
    margin: 3% 3%;
    font-size: larger;
}

#footerContainer{
    margin-left: 30%;
}